@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

#root {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  width: 100%;
}

.whole-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.history {
  width: 200px;
  margin: 2.5rem 1.25rem 2.5rem 2.5rem;
  padding: 1rem;
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 600px;
  margin: 2.5rem 1.25rem 2.5rem 1.25rem;
  padding: 2rem;
  background-color: #2D2C2C;
  opacity: 0.9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.heading {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  margin: 0;
}

.dog-card {
  margin-top: 1.5rem;
}

.attributes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;;
}

.attribute {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #876415;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 4px solid #7D4C0D;
  transition: transform 0.1s, border-bottom 0.1s;
}

.attribute:hover {
  filter: brightness(1.1);
}

.attribute:active {
  transform: translateY(4px);
  border-bottom: 0;
}

.dog-image {
  margin-top: 1.5rem;
  width: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(0, 0, 0, 0.5);
}

.discover {
  margin-top: 1.5rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
.discover:hover {
  border-color: #646cff;
}
.discover:focus,
.discover:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.ban-list {
  width: 250px;
  margin: 2.5rem 2.5rem 2.5rem 1.25rem;
  padding: 1rem;
  background-color: #636262;
  border-radius: 10px;
}

.ban-list-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ban-item {
  position: relative;
  padding: 0.5rem 2.5rem;
  border-radius: 8px;
  border: none;
  background-color: #B66463;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 4px solid #5a2d2d;
  transition: transform 0.1s, border-bottom 0.1s;
}

.ban-item span {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  font-size: 1.5rem;
  line-height: 1;
  color: #983c39;
}

.ban-item:hover {
  filter: brightness(1.1);
}

.ban-item:active {
  transform: translateY(4px);
  border-bottom: 0;
}